<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_nf28">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ADAN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_NF28">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoixInscriptionConnnexion"
            android:exported="true">
        </activity>
        <activity
            android:name=".ChoixTypeInscription"
            android:exported="true">
        </activity>
        <activity
            android:name=".InscriptionEmployeur"
            android:exported="true">
        </activity>
        <activity
            android:name=".InscriptionArtiste"
            android:exported="true">
        </activity>
        <activity
            android:name=".Annonces"
            android:exported="true">
        </activity>
        <activity
            android:name=".Connexion"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoPersonne"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoContact"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoOffre"
            android:exported="true">
        </activity>
        <activity
            android:name=".EspacePerso"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoPersoSelf"
            android:exported="true">
        </activity>
        <activity
            android:name=".ChoixAjouteRole"
            android:exported="true">
        </activity>
        <activity
            android:name=".DetailleDeMesOffre"
            android:exported="true">
        </activity>
        <activity
            android:name=".AjouteArtiste"
            android:exported="true">
        </activity>
        <activity
            android:name=".AjouteEmployeur"
            android:exported="true">
        </activity>
        <activity
            android:name=".ChoixCandidateOffre"
            android:exported="true">
        </activity>
        <activity
            android:name=".MesOffres"
            android:exported="true">
        </activity>
        <activity
            android:name=".ModifierUnOffre"
            android:exported="true">
        </activity>
        <activity
            android:name=".AjouteUnOffre"
            android:exported="true">
        </activity>
        <activity
            android:name=".RedigerContrat"
            android:exported="true">
        </activity>
        <activity
            android:name=".Inscription_EMAIL_MDP"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoUser"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoEmployer"
            android:exported="true">
        </activity>
        <activity
            android:name=".ChoisirCandidate"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoArtiste"
            android:exported="true">
        </activity>
    </application>

</manifest>