<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_nf28">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_NF28">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoixInscriptionConnnexion"
            android:exported="true">
        </activity>
        <activity
            android:name=".ChoixTypeInscription"
            android:exported="true">
        </activity>
        <activity
            android:name=".InscriptionEmployeur"
            android:exported="true">
        </activity>
        <activity
            android:name=".InscriptionArtiste"
            android:exported="true">
        </activity>
        <activity
            android:name=".Annonces"
            android:exported="true">
        </activity>
        <activity
            android:name=".Connexion"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoPersonne"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoContact"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoOffre"
            android:exported="true">
        </activity>
        <activity
            android:name=".EspacePerso"
            android:exported="true">
        </activity>
        <activity
            android:name=".InfoPersoSelf"
            android:exported="true">
        </activity>

    </application>

</manifest>